<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948424387443-fnk10a4t9j5kbpia5oj1d7hdo6bokd1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948424387443-fnk10a4t9j5kbpia5oj1d7hdo6bokd1g</string>
	<key>API_KEY</key>
	<string>AIzaSyBWY9CuZiVfMDFZMaIcoOiy7GG3rSnXp1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>948424387443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterclone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-3fc55</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-3fc55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948424387443:ios:393117f026054fa9467306</string>
</dict>
</plist>